<p-sidebar [(visible)]="display" position="top">
	<ul class="menu">
		<li><a href="/">All films</a></li>
		<li><a href="/profile">Perfil</a></li>
		<li><a href="/register">Registro</a></li>
	</ul>
</p-sidebar>
<button pButton type="button" (click)="display = true"  icon="pi pi-bars"  >
</button>


