<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style type="text/css">
	.wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin: 1rem;
		padding: 1rem;
		width: 80%;
		margin: 0 10%;
	}
</style>
<div class="wrapper">
<h1>Get All films</h1>

<!--
Opc 1	
<table class="table">
	<thead>
		<th *ngFor='let film of films | keyvalue' >
			{{film.key}}
		</th>
	</thead>
	<tbody>

		<td *ngFor='let film of films | keyvalue' >
			{{film.value}}
		</td>
	</tbody>

</table>
-->
<!-- Opc 2 Datatable -->

	<p>filter,paginate and view all films<br>by <a href="#">Esteban Villa R.</a></p>
	<ng2-smart-table [settings]="settings" [source]="films"  ></ng2-smart-table>

</div>	




