
<div class="container">
  <form>
    <div class="form-group row">
      <label for="foto" class="col-sm-2 col-form-label col-form-label-lg">Archivo</label>
      <div class="col-sm-10">
			<p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>
      </div>
    </div>
    <div class="form-group row">
      <label for="nombre" class="col-sm-2 col-form-label col-form-label-lg">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="nombre" placeholder="Jhon Doe">

      </div>
    </div>
    <div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control form-control-sm" id="smFormGroupInput" placeholder="you@example.com">
      </div>
    </div>

    <div class="form-group row">
      
      <div class="col-sm-12" style="text-align: center;">
        <button class="btn btn-success">Enviar</button>
      </div>

    </div>

  </form>
</div>