
<div class="container">
  <form>
    <div class="form-group row">
      <label for="foto" class="col-sm-2 col-form-label col-form-label-lg">id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="id" >
      	
      </div>
    </div>
    <div class="form-group row">
      <label for="nombre" class="col-sm-2 col-form-label col-form-label-lg">Nombre del producto</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="nombreproducto" placeholder="Mi Producto">

      </div>
    </div>
    <div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Caracteristicas</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="smFormGroupInput" placeholder="" >
      </div>
    </div>
<div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Fecha de lanzamiento</label>
      <div class="col-sm-10">
<p-calendar class="col-sm-10"></p-calendar>
      </div>
    </div>

<div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Correo fabricante</label>
      <div class="col-sm-10">
<p-calendar class="col-sm-10"></p-calendar>
      </div>
    </div>


<div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">País de fabricación</label>
      <div class="col-sm-10">
<p-calendar class="col-sm-10"></p-calendar>
      </div>
    </div>




    <div class="form-group row">
      
      <div class="col-sm-12" style="text-align: center;">
        <button class="btn btn-success">Enviar</button>
      </div>

    </div>

  </form>
</div>